body {
    text-align: center;
    background-color: #7BAFD4;
    color: #13294B;
}

#startButton {
    margin: 10px;
}
#submitButton {
    margin: 0 auto;
    display: block;
}
#quiz {
    margin: 10px;
}
#initialsScore {
    padding: 5px;
}
#yourInitials {
    padding: 5px;
}
#yourScore {
    padding: 5px;
}
#submitScore {
    padding: 5px;
}
#scoreList {
    margin: 0 auto;
    display: block;
}


