body {
    text-align: center;
    background-color: #7BAFD4;
    color: #13294B;
}
#startButton {
    margin: 10px;
}
 
#submitButton {
    margin: 0 auto;
    display: block;
}

#quiz {
    margin: 10px;
}
